.calcul-screen {
    width: 500px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: bold;
    font-size: 25px;
}

.calcul-text {
    padding-right: 25px;
}